## Loading the data

In [76]:
pip install matplotlib

Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/40/d9/c1784db9db0d484c8e5deeafbaac0d6ed66e165c6eb4a74fb43a5fa947d9/matplotlib-3.8.0-cp311-cp311-win_amd64.whl.metadata
  Downloading matplotlib-3.8.0-cp311-cp311-win_amd64.whl.metadata (5.9 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/e5/76/94bc17eb868f8c7397f8fdfdeae7661c1b9a35f3a7219da308596e8c252a/contourpy-1.1.1-cp311-cp311-win_amd64.whl.metadata
  Downloading contourpy-1.1.1-cp311-cp311-win_amd64.whl.metadata (5.9 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/95/b6/9a5133deb5838c4dbe3ea27e8dba123622aa5112d43a079e9587636b4faf/fonttools-4.42.1-cp311-cp311-win_amd64.whl.metadata
  Downloading fonttools-4.42.1-cp311-cp311-win_amd64.whl.metadata (154 kB)
     ---------------------------------------- 0.0/154.1 kB ? eta -:--:--
     -------------------------------------  153.6/154.1 kB 9.0 MB/s eta 0:00:01
     -------------------------------------- 154.1/154.1 kB 2.3 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Obtaining dependency information for kiwisolver>=1.0.1 from https://files.pythonhosted.org/packages/1e/37/d3c2d4ba2719059a0f12730947bbe1ad5ee8bff89e8c35319dcb2c9ddb4c/kiwisolver-1.4.5-cp311-cp311-win_amd64.whl.metadata
  Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\rajaa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.26.0)
Requirement already satisfied: packaging>=20.0 in c:\users\rajaa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Obtaining dependency information for pillow>=6.2.0 from https://files.pythonhosted.org/packages/54/9b/debe992677af84859ec1e38777b1d5c0671918188324153ecbc1f16f6cb6/Pillow-10.0.1-cp311-cp311-win_amd64.whl.metadata
  Downloading Pillow-10.0.1-cp311-cp311-win_amd64.whl.metadata (9.6 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/39/92/8486ede85fcc088f1b3dba4ce92dd29d126fd96b0008ea213167940a2475/pyparsing-3.1.1-py3-none-any.whl.metadata
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rajaa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rajaa\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.8.0-cp311-cp311-win_amd64.whl (7.6 MB)
   ---------------------------------------- 0.0/7.6 MB ? eta -:--:--
   -- ------------------------------------- 0.5/7.6 MB 10.5 MB/s eta 0:00:01
   ---- ----------------------------------- 1.0/7.6 MB 11.9 MB/s eta 0:00:01
   ------- -------------------------------- 1.5/7.6 MB 11.6 MB/s eta 0:00:01
   --------- ------------------------------ 1.8/7.6 MB 10.6 MB/s eta 0:00:01
   ----------- ---------------------------- 2.2/7.6 MB 10.1 MB/s eta 0:00:01
   ------------ --------------------------- 2.4/7.6 MB 9.0 MB/s eta 0:00:01
   -------------- ------------------------- 2.7/7.6 MB 9.2 MB/s eta 0:00:01
   --------------- ------------------------ 2.9/7.6 MB 8.1 MB/s eta 0:00:01
   --------------- ------------------------ 3.0/7.6 MB 8.1 MB/s eta 0:00:01
   ----------------- ---------------------- 3.3/7.6 MB 7.3 MB/s eta 0:00:01
   ------------------ --------------------- 3.5/7.6 MB 7.2 MB/s eta 0:00:01
   ------------------- -------------------- 3.8/7.6 MB 7.1 MB/s eta 0:00:01
   --------------------- ------------------ 4.0/7.6 MB 6.8 MB/s eta 0:00:01
   ---------------------- ----------------- 4.2/7.6 MB 6.7 MB/s eta 0:00:01
   ----------------------- ---------------- 4.4/7.6 MB 6.6 MB/s eta 0:00:01
   ------------------------ --------------- 4.7/7.6 MB 6.5 MB/s eta 0:00:01
   ------------------------- -------------- 4.9/7.6 MB 6.3 MB/s eta 0:00:01
   --------------------------- ------------ 5.2/7.6 MB 6.3 MB/s eta 0:00:01
   ---------------------------- ----------- 5.5/7.6 MB 6.3 MB/s eta 0:00:01
   ------------------------------ --------- 5.8/7.6 MB 6.3 MB/s eta 0:00:01
   ------------------------------- -------- 6.1/7.6 MB 6.2 MB/s eta 0:00:01
   -------------------------------- ------- 6.2/7.6 MB 6.2 MB/s eta 0:00:01
   --------------------------------- ------ 6.4/7.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------- ----- 6.6/7.6 MB 6.1 MB/s eta 0:00:01
   ------------------------------------ --- 7.0/7.6 MB 6.0 MB/s eta 0:00:01
   ------------------------------------- -- 7.2/7.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  7.5/7.6 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  7.6/7.6 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 7.6/7.6 MB 5.1 MB/s eta 0:00:00
Downloading contourpy-1.1.1-cp311-cp311-win_amd64.whl (480 kB)
   ---------------------------------------- 0.0/480.5 kB ? eta -:--:--
   ----------------------------- --------- 368.6/480.5 kB 11.6 MB/s eta 0:00:01
   ---------------------------------------  471.0/480.5 kB 7.3 MB/s eta 0:00:01
   ---------------------------------------  471.0/480.5 kB 7.3 MB/s eta 0:00:01
   ---------------------------------------- 480.5/480.5 kB 2.7 MB/s eta 0:00:00
Downloading fonttools-4.42.1-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------- -------------------------------- 0.4/2.1 MB 8.7 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 7.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 7.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 7.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 7.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.0/2.1 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.8 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.1 kB ? eta -:--:--
   ------------------------------------ --- 51.2/56.1 kB ? eta -:--:--
   ------------------------------------ --- 51.2/56.1 kB ? eta -:--:--
   ------------------------------------ --- 51.2/56.1 kB ? eta -:--:--
   ------------------------------------ --- 51.2/56.1 kB ? eta -:--:--
   ---------------------------------------- 56.1/56.1 kB 226.0 kB/s eta 0:00:00
Downloading Pillow-10.0.1-cp311-cp311-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.5 MB 5.9 MB/s eta 0:00:01
   --------- ------------------------------ 0.6/2.5 MB 6.0 MB/s eta 0:00:01
   ------------- -------------------------- 0.9/2.5 MB 6.0 MB/s eta 0:00:01
   ---------------- ----------------------- 1.0/2.5 MB 6.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.2/2.5 MB 5.6 MB/s eta 0:00:01
   ------------------------ --------------- 1.5/2.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.5 MB 5.7 MB/s eta 0:00:01
   ---------------------------------- ----- 2.2/2.5 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 4.7 MB/s eta 0:00:00
Using cached pyparsing-3.1.1-py3-none-any.whl (103 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.1 cycler-0.11.0 fonttools-4.42.1 kiwisolver-1.4.5 matplotlib-3.8.0 pillow-10.0.1 pyparsing-3.1.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'C:\Users\rajaa\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [74]:
import pandas as pd
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [47]:
data= pd.read_csv("dataset/TG_STAID000001.txt", skiprows=19, parse_dates=['    DATE'])
data

       STAID   SOUID       DATE     TG   Q_TG
0          1   35381 1860-01-01     21      0
1          1   35381 1860-01-02     46      0
2          1   35381 1860-01-03     31      0
3          1   35381 1860-01-04     37      0
4          1   35381 1860-01-05     31      0
...      ...     ...        ...    ...    ...
59316      1   35381 2022-05-27  -9999      9
59317      1   35381 2022-05-28  -9999      9
59318      1   35381 2022-05-29  -9999      9
59319      1   35381 2022-05-30  -9999      9
59320      1   35381 2022-05-31  -9999      9

[59321 rows x 5 columns]

In [27]:
data.columns

Index(['STAID', ' SOUID', '    DATE', '   TG', ' Q_TG'], dtype='object')

## Showing certain columns

In [49]:
data[0:25]

    STAID   SOUID       DATE     TG   Q_TG
0       1   35381 1860-01-01     21      0
1       1   35381 1860-01-02     46      0
2       1   35381 1860-01-03     31      0
3       1   35381 1860-01-04     37      0
4       1   35381 1860-01-05     31      0
5       1   35381 1860-01-06     16      0
6       1   35381 1860-01-07      5      0
7       1   35381 1860-01-08    -27      0
8       1   35381 1860-01-09     -4      0
9       1   35381 1860-01-10    -17      0
10      1   35381 1860-01-11     -5      0
11      1   35381 1860-01-12    -18      0
12      1   35381 1860-01-13    -27      0
13      1   35381 1860-01-14    -26      0
14      1   35381 1860-01-15    -37      0
15      1   35381 1860-01-16     -9      0
16      1   35381 1860-01-17      7      0
17      1   35381 1860-01-18     -6      0
18      1   35381 1860-01-19    -16      0
19      1   35381 1860-01-20    -19      0
20      1   35381 1860-01-21    -11      0
21      1   35381 1860-01-22     -1      0
22      1   35381 1860-01-23      2      0
23      1   35381 1860-01-24      7      0
24      1   35381 1860-01-25     10      0

In [50]:
data['   TG']

0          21
1          46
2          31
3          37
4          31
         ...
59316   -9999
59317   -9999
59318   -9999
59319   -9999
59320   -9999
Name:    TG, Length: 59321, dtype: int64

In [51]:
data.columns

Index(['STAID', ' SOUID', '    DATE', '   TG', ' Q_TG'], dtype='object')

In [53]:
data[[' SOUID', '    DATE','   TG']][0:25]

     SOUID       DATE     TG
0    35381 1860-01-01     21
1    35381 1860-01-02     46
2    35381 1860-01-03     31
3    35381 1860-01-04     37
4    35381 1860-01-05     31
5    35381 1860-01-06     16
6    35381 1860-01-07      5
7    35381 1860-01-08    -27
8    35381 1860-01-09     -4
9    35381 1860-01-10    -17
10   35381 1860-01-11     -5
11   35381 1860-01-12    -18
12   35381 1860-01-13    -27
13   35381 1860-01-14    -26
14   35381 1860-01-15    -37
15   35381 1860-01-16     -9
16   35381 1860-01-17      7
17   35381 1860-01-18     -6
18   35381 1860-01-19    -16
19   35381 1860-01-20    -19
20   35381 1860-01-21    -11
21   35381 1860-01-22     -1
22   35381 1860-01-23      2
23   35381 1860-01-24      7
24   35381 1860-01-25     10

## Simple statistical calculations

In [62]:
data['   TG'].mean()

-991.1500649011311

In [63]:
data.loc[data['   TG']!=-9999]

       STAID   SOUID       DATE     TG   Q_TG
0          1   35381 1860-01-01     21      0
1          1   35381 1860-01-02     46      0
2          1   35381 1860-01-03     31      0
3          1   35381 1860-01-04     37      0
4          1   35381 1860-01-05     31      0
...      ...     ...        ...    ...    ...
53655      1   35381 2006-11-26     80      0
53656      1   35381 2006-11-27     70      0
53657      1   35381 2006-11-28     71      0
53658      1   35381 2006-11-29     63      0
53659      1   35381 2006-11-30     84      0

[53103 rows x 5 columns]

In [64]:
data.loc[data['   TG']!=-9999].mean()

STAID                                 1.0
 SOUID                       35381.009943
    DATE    1932-12-25 01:56:39.468956672
   TG                           63.607875
 Q_TG                            0.000056
dtype: object

In [65]:
data.loc[data['   TG']!=-9999]['   TG'].mean()

63.607875261284676

In [67]:
data.loc[data['   TG']!=-9999]['   TG'].max()/10

26.2

In [68]:
data.loc[data['   TG']!=-9999]['   TG'].min()/10

-28.8

In [71]:
data['   TG'].hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.